/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
    text-align: center;
    color: #333;
    background-image: url('src/landingpage.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}

/* Estilo del botón */
#continue-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    display: inline-flex; /* Usamos flex para centrar el texto */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: auto; /* Ajustar el ancho al contenido */
}

#continue-btn:hover {
    background-color: #2980b9;
}



/* Clase para cambiar el fondo cuando se muestre el modal formulario */
.body-background-modal {
    background-image: url('src/InicioSesionfondo.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contenedor del modal (pagina inicial) */
.container {
    max-width: 95%;
    width: 400px;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 2px solid #ccc; 
    margin: 0 auto; /* Centrado horizontal */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.btn:hover {
    background-color: #2980b9;
}

#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing-page img:last-of-type {
    max-width: 50%;
    margin: 0 auto 20px;
}

#form-page {
    display: none;
    margin: 0 auto;
    background-color: white; 
    padding: 25px;
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    max-width: 95%; /* Limita el ancho del modal */
    width: 400px; /* Tamaño base */
    margin: 0 auto; /* Centrado horizontal */
}

/* Estilo general de los inputs */
#form-page input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#form-page #submit-btn {
    background-color: #2874ec;
    width: 100%;
    padding: 12px;
    border-radius: 0px;
    font-size: 14px; /* Cambiado para que sea más pequeño */
}

#form-page #submit-btn:hover {
    background-color: #3c68a8b2;
}

#click-count {
    color: white; 
}

#click-count {
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
}

/* Spinner de carga */
#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #f39c12; /* Cambiado a color naranja */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animación de rotación */
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .container {
        width: 80%; /* Ajusta el tamaño en móviles */
        padding: 15px;
    }

    #form-page {
        width: 80%; /* Limita el tamaño del modal del formulario */
        padding: 20px; /* Ajusta el relleno */
    }

    #form-page input {
        width: 80%; /* Reduce el ancho en móviles */
        padding: 8px; /* Reduce el relleno interno */
        font-size: 14px; /* Disminuye el tamaño del texto */
    }

    #form-page #submit-btn {
        padding: 10px; /* Ajusta el tamaño del botón */
        font-size: 12px; /* Tamaño de letra más pequeño en móviles */
    }

    .btn {
        width: 100%;
    }

    #landing-page img {
        max-width: 80%;
    }
}


