/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
    text-align: center;
    color: #333;
    background-image: url('src/landingpage.jpg'); /* Ruta de la imagen */
    background-size: cover; /* La imagen cubre todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No se repite la imagen */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
    margin: 0; /* Elimina el margen por defecto */
}

/* Clase para cambiar el fondo cuando se muestre el modal */
.body-background-modal {
    background-image: url('src/InicioSesionfondo.png'); /* Ruta de la imagen para el fondo del modal */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contenedor del modal */
.container {
    max-width: 95%;
    width: 400px;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 2px solid #ccc; /* Borde gris alrededor del modal */
}

/* Estilos de las imágenes */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


/* Botón de registro */
.btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.btn:hover {
    background-color: #2980b9;
}

/* Estilos de la página principal */
#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Ajustes para la última imagen del landing */
#landing-page img:last-of-type {
    max-width: 50%;
    margin: 0 auto 20px;
}

/* Estilos del formulario */
#form-page {
    display: none;
    margin: 0 auto;
    background-color: white; /* Fondo blanco para el modal */
    padding: 25px;
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra opcional para darle profundidad */
}

/* Estilos de los campos de entrada */
#form-page input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

/* Estilos del botón de envío del formulario */
#form-page #submit-btn {
    background-color: #1d67f1;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
}

#form-page #submit-btn:hover {
    background-color: #3c68a8b2;
}


#click-count {
    color: white; /* Cambia el color del texto a blanco */
}

#click-count {
    color: white; /* Texto blanco */
    padding: 5px 10px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
}


/* Media Query para dispositivos móviles */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .btn {
        width: 100%;
    }

    #landing-page img {
        max-width: 80%;
    }
}
