/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
    text-align: center;
    color: #333;
}

.container {
    max-width: 95%;
    width: 400px;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.btn:hover {
    background-color: #2980b9;
}

#landing-page {
    display: flex;
    flex-direction: column; /* Aplica el diseño en columna */
    align-items: center;    /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}

#landing-page img:last-of-type {
    max-width: 50%; /* Ajusta el tamaño a un 30% del contenedor */
    margin: 0 auto 20px; /* Centra la imagen */
}
#form-page {
    display: none;
    margin: 0 auto;
}

#form-page input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#form-page #submit-btn {
    background-color: #28a745;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
}

#form-page #submit-btn:hover {
    background-color: #218838;
}

/* Media Query para dispositivos móviles */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .btn {
        width: 100%;
    }

    #landing-page img {
        max-width: 80%;
    }
}
